

  .error {
    color: red;
    margin-top: 5px;
  }
  
  .image-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .image-container {
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .image-container img {
    width: 100px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    line-height: 18px;
  }
  
  