
<body>

    <!-- Pre Loader -->
    <div id="aa-preloader-area">
        <div class="pulse"></div>
    </div>
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->
   
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->
    <section id="aa-menu-area">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <!-- LOGO -->
                <a class="navbar-brand aa-logo" routerLink="/"> Home <span>Property</span></a>
    
                <!-- Toggle Button for Mobile View -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <!-- Navbar Links -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/prop">PROPERTIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/gallery">GALLERY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact">CONTACT</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                PROFILE
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <!-- Start Proerty header  -->

    <section id="aa-property-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner">
                        <h2>Gallery</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Proerty header  -->

    <section id="aa-gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-gallery-area">
                        <div class="aa-title">
                            <h2>Gallery View</h2>
                            <span></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi commodi eum dolorem
                                aut eos, debitis quaerat reiciendis, officiis consectetur ducimus atque suscipit ab at
                                tempora!</p>
                        </div>
                        <!-- Start gallery -->
                        <div class="aa-gallery-content">
                            <div class="aa-gallery-top">
                                <!-- Start gallery menu -->
                                <ul>
                                    <li data-filter="all" class="filter active">All</li>
                                    <li data-filter=".apartment" class="filter">Apartment</li>
                                    <li data-filter=".livingroom" class="filter">Living Room</li>
                                    <li data-filter=".bedroom" class="filter">Bedroom</li>
                                    <li data-filter=".kitchen" class="filter">Kitchen</li>
                                    <li data-filter=".garage" class="filter">Garage</li>
                                </ul>
                            </div>
                            <!-- Start gallery image -->
                            <div id="mixit-container" class="aa-gallery-body">
                                <!-- start single gallery image -->
                                <div class="aa-single-gallery mix apartment">
                                    <div class="aa-single-gallery-item">
                                        <div class="aa-single-gallery-img">
                                            <a href="#"><img src="assets/img/gallery/small/1.jpg" alt="img"></a>
                                        </div>
                                        <div class="aa-single-gallery-info">
                                            <a class="fancybox" data-fancybox-group="gallery" href="assets/img/gallery/big/1.jpg">
                                                <span class="fa fa-eye"></span>
                                            </a>
                                            <a class="aa-link" href="#">
                                                <span class="fa fa-link"></span>
                                            </a>
                                        </div>
                                    </div>                                    
                                </div>
                                <!-- start single gallery image -->
                                <div class="aa-single-gallery mix garage">
                                    <div class="aa-single-gallery-item">
                                        <div class="aa-single-gallery-img">
                                            <a href="#"><img src="assets/img/gallery/small/2.jpg" alt="img"></a>
                                        </div>
                                        <div class="aa-single-gallery-info">
                                            <a class="fancybox" data-fancybox-group="gallery" href="assets/img/gallery/big/2.jpg">
                                                <span class="fa fa-eye"></span>
                                            </a>
                                            <a class="aa-link" href="#">
                                                <span class="fa fa-link"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- start single gallery image -->
                                <div class="aa-single-gallery mix livingroom">
                                    <div class="aa-single-gallery-item">
                                        <div class="aa-single-gallery-img">
                                            <a href="#"><img src="assets/img/gallery/small/3.jpg" alt="img"></a>
                                        </div>
                                        <div class="aa-single-gallery-info">
                                            <a class="fancybox" data-fancybox-group="gallery" href="assets/img/gallery/big/3.jpg">
                                                <span class="fa fa-eye"></span>
                                            </a>
                                            <a class="aa-link" href="#">
                                                <span class="fa fa-link"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- start single gallery image -->
                                <div class="aa-single-gallery mix bedroom">
                                    <div class="aa-single-gallery-item">
                                        <div class="aa-single-gallery-img">
                                            <a href="#"><img src="assets/img/gallery/small/4.jpg" alt="img"></a>
                                        </div>
                                        <div class="aa-single-gallery-info">
                                            <a class="fancybox" data-fancybox-group="gallery" href="assets/img/gallery/big/4.jpg">
                                                <span class="fa fa-eye"></span>
                                            </a>
                                            <a class="aa-link" href="#">
                                                <span class="fa fa-link"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- start single gallery image -->
                                <div class="aa-single-gallery mix apartment">
                                    <div class="aa-single-gallery-item">
                                        <div class="aa-single-gallery-img">
                                            <a href="#"><img src="assets/img/gallery/small/5.jpg" alt="img"></a>
                                        </div>
                                        <div class="aa-single-gallery-info">
                                            <a class="fancybox" data-fancybox-group="gallery" href="assets/img/gallery/big/5.jpg">
                                                <span class="fa fa-eye"></span>
                                            </a>
                                            <a class="aa-link" href="#">
                                                <span class="fa fa-link"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- start single gallery image -->
                                <div class="aa-single-gallery mix livingroom">
                                    <div class="aa-single-gallery-item">
                                        <div class="aa-single-gallery-img">
                                            <a href="#"><img src="assets/img/gallery/small/6.jpg" alt="img"></a>
                                        </div>
                                        <div class="aa-single-gallery-info">
                                            <a class="fancybox" data-fancybox-group="gallery" href="assets/img/gallery/big/6.jpg">
                                                <span class="fa fa-eye"></span>
                                            </a>
                                            <a class="aa-link" href="#">
                                                <span class="fa fa-link"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- start single gallery image -->
                                <div class="aa-single-gallery mix apartment">
                                    <div class="aa-single-gallery-item">
                                        <div class="aa-single-gallery-img">
                                            <a href="#"><img src="assets/img/gallery/small/7.jpg" alt="img"></a>
                                        </div>
                                        <div class="aa-single-gallery-info">
                                            <a class="fancybox" data-fancybox-group="gallery" href="assets/img/gallery/big/7.jpg">
                                                <span class="fa fa-eye"></span>
                                            </a>
                                            <a class="aa-link" href="#">
                                                <span class="fa fa-link"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- start single gallery image -->
                                <div class="aa-single-gallery mix garage">
                                    <div class="aa-single-gallery-item">
                                        <div class="aa-single-gallery-img">
                                            <a href="#"><img src="assets/img/gallery/small/8.jpg" alt="img"></a>
                                        </div>
                                        <div class="aa-single-gallery-info">
                                            <a class="fancybox" data-fancybox-group="gallery" href="assets/img/gallery/big/8.jpg">
                                                <span class="fa fa-eye"></span>
                                            </a>
                                            <a class="aa-link" href="#">
                                                <span class="fa fa-link"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- start single gallery image -->
                                <div class="aa-single-gallery mix livingroom">
                                    <div class="aa-single-gallery-item">
                                        <div class="aa-single-gallery-img">
                                            <a href="#"><img src="assets/img/gallery/small/9.jpg" alt="img"></a>
                                        </div>
                                        <div class="aa-single-gallery-info">
                                            <a class="fancybox" data-fancybox-group="gallery" href="assets/img/gallery/big/9.jpg">
                                                <span class="fa fa-eye"></span>
                                            </a>
                                            <a class="aa-link" href="#">
                                                <span class="fa fa-link"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- start single gallery image -->
                                <div class="aa-single-gallery mix bedroom">
                                    <div class="aa-single-gallery-item">
                                        <div class="aa-single-gallery-img">
                                            <a href="#"><img src="assets/img/gallery/small/10.jpg" alt="img"></a>
                                        </div>
                                        <div class="aa-single-gallery-info">
                                            <a class="fancybox" data-fancybox-group="gallery" href="assets/img/gallery/big/10.jpg">
                                                <span class="fa fa-eye"></span>
                                            </a>
                                            <a class="aa-link" href="#">
                                                <span class="fa fa-link"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- start single gallery image -->
                                <div class="aa-single-gallery mix kitchen">
                                    <div class="aa-single-gallery-item">
                                        <div class="aa-single-gallery-img">
                                            <a href="#"><img src="assets/img/gallery/small/11.jpg" alt="img"></a>
                                        </div>
                                        <div class="aa-single-gallery-info">
                                            <a class="fancybox" data-fancybox-group="gallery" href="assets/img/gallery/big/11.jpg">
                                                <span class="fa fa-eye"></span>
                                            </a>
                                            <a class="aa-link" href="#">
                                                <span class="fa fa-link"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- start single gallery image -->
                                <div class="aa-single-gallery mix livingroom">
                                    <div class="aa-single-gallery-item">
                                        <div class="aa-single-gallery-img">
                                            <a href="#"><img src="assets/img/gallery/small/12.jpg" alt="img"></a>
                                        </div>
                                        <div class="aa-single-gallery-info">
                                            <a class="fancybox" data-fancybox-group="gallery" href="assets/img/gallery/big/12.jpg">
                                                <span class="fa fa-eye"></span>
                                            </a>
                                            <a class="aa-link" href="#">
                                                <span class="fa fa-link"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>


    <!-- Footer -->
    <footer id="aa-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="aa-footer-area">
                <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aa-footer-left">
                      <p>Designed by <a rel="nofollow" href="https://github.com/dhruvpatel-7">Dhruv Patel</a></p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aa-footer-middle">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="aa-footer-right">
                      <a href="#">Home</a>
                      <a href="#">Support</a>
                      <a href="#">License</a>
                      <a href="#">FAQ</a>
                      <a href="#">Privacy & Term</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>